<!-- {% extends 'fileloader/base.html' %}

{% block title %} Set Up ESG {% endblock%}

{% block body %}
{% load static %}


<div class="limiter">
	<div class="container-login100" style="background-image: url('{% static 'images/img-01.jpg' %}');">
		<div class="wrap-login100 p-t-30 p-b-30">
			<span class="login100-form-title p-t-20 p-b-45">Please choose Number of Question In Quiz 2 : </span>
			<br>
      <a href= "{% url 'quiz_question_repeat' %}" class="login100-form-btn" value="5" name="5" > 5 </a>
			<br>
      <a href= "{% url 'quiz_question_repeat' %}" class="login100-form-btn" value="10" name="10" > 10 </a>
			<br>
      <a href= "{% url 'quiz_question_repeat' %}" class="login100-form-btn" value="15" name="15" > 15 </a>
			<br>
			<br>
			<br>
	  <a href= "{% url 'questions_select' %}" class="login100-form-btn" >Return to Previous Page</a>		
      		<br>
      <a href= "{% url 'index' %}" class="login100-form-btn" >Return to home</a>
      <br>
      <a href= "{% url 'pagelogout' %}" class="login100-form-btn" >Logout</a>
		</div>
	</div>
</div>

{% endblock %}
 -->